AddType application/javascript .js
AddType application/javascript .mjs
AddType application/javascript .ts
AddType application/javascript .tsx
AddType text/javascript .js
AddType text/javascript .mjs
AddType text/javascript .ts
AddType text/javascript .tsx

<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/javascript .mjs
  AddType application/javascript .ts
  AddType application/javascript .tsx
  AddType text/javascript .js
  AddType text/javascript .mjs
  AddType text/javascript .ts
  AddType text/javascript .tsx
</IfModule> 